# Compiled python modules.
*.pyc

# Setuptools distribution folder.
/dist/

# Setuptools build folder.
/build/

# Setuptools egg-info folder.
/avapi.egg-info/

# Generated documentation files
/docs/_build/
/docs/static/
/docs/_templates/
